# Ignore Python files
__pycache__/
*.pyc

# Ignore log files
*.log
*.txt
*.out
*.prof

# Ignore data and k8 files
*.yaml
*.yml
*.pkl
*.sbatch
*.slurm
*.h5
*.csv


# Ignore system files
.DS_Store

# Ignore environment files
.env

# Ignore VSCode settings
.vscode/

# Ignore build folders
build/
dist/

# Ignore data folders
data/

# ignore config
config/

# Ignore plotting for now
plotting/

# Ignore model weights
Trained_Models/

# Ignore notebook folders
notebooks/
notebook/
*/.ipynb_checkpoints/
.ipynb_checkpoints/
.jupyter/
.ipython/
.local/
.cache/