# Ignore Python files
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore system files
.DS_Store

# Ignore environment files
.env

# Ignore VSCode settings
.vscode/

# Ignore build folders
build/
dist/

# Ignore data folders
data/

# Ignore notebook folders
notebooks/
notebook/